@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

input,
select {
  @apply border border-gray-300 bg-white rounded-sm px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

input[type="number"] {
  @apply text-right;
}
